@model LoginSignup.Models.AccountModel
@{
    ViewData["Title"] = "Home";
}
<div class="custom-shadow d-flex flex-column align-self-center w-50 w md rounded-3 align-items-center justify-content-center p-2 custom-bg-blue">
    <h3 class="text-dark">Welcome, @Model.FirstName @Model.LastName</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
       
        <dt class = "col-sm-2">
            Hobbies
        </dt>
        <dd class = "col-sm-10">
            @{
                string hob = "";
                if (Model.Music)
                {
                    hob = hob + "Music";
                }
                if (Model.Sports)
                {
                    if (hob != "")
                        hob = hob + " , Sports";
                    else
                        hob = hob + "Sports";
                }
                if (Model.Travel)
                {
                    if (hob != "")
                        hob = hob + " , Travel";
                    else
                        hob = hob + "Travel";
                }
                if (Model.Movies)
                {
                    if (hob != "")
                        hob = hob + " , Movies";
                    else
                        hob = hob + "Movies";
                }
                @hob;
            }

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceOfIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceOfIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Login" asp-action="Logout" class="btn btn-danger m-1">Log Out</a>
</div>
